<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result of Robert's Robot Simulator</title>
    <link rel="stylesheet" href="/result.css">
    <link rel="subresource" href="https://code.jquery.com/jquery-3.3.1.slim.js">
</head>
<body>
    <h2>Here's what the robot did</h2>
    <p><a href="#" id="toggle">Show/hide debug info.</a></p>
    <table>
        <tr th:each="trace : ${traces}"
            th:classappend="${trace.isReport()} ? report : debug"
        >
            <td>
                <span class="command" th:text="${trace.command}">MOVE</span>
            </td>
            <td>
                <span
                      th:text="${trace.stateString()}">0,1,EAST</span>
            </td>
        </tr>
    </table>
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.js"
            integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
            crossorigin="anonymous"></script>
    <script src="/result.js"></script>
</body>
</html>